 <div id="cover" class="center">
    
    <div class="center-align info" >
      <h1 class="white-text"><span class="little_e">e</span>-Office</h1>
      <p class="white-text flow-text">Your live`s work. Organized, always.</p>
      <%= link_to 'Enter', new_user_registration_path, class: "btn waves-effect waves-light btn-large white-text darken-text-2" %>
    </div>
     
 </div>
 <br>
 <div class="container center">
     <h3>ORGANIZE</h3>
     <p>Readymade austin la croix chambray, small batch microdosing cornhole meditation neutra adaptogen 3 wolf moon gentrify normcore church-key. Occupy hell of farm-to-table, trust fund prism wolf heirloom kombucha cloud bread pop-up gluten-free etsy man braid vice offal. </p>
 </div>
 
 <br>
 <br>
 <br>
 
 <div class="action center">
    <div id="action">
     <h2>GO AHEAD!</h2>
     <%=link_to 'Join Now', new_user_registration_path, class: 'btn waves-effect waves-light btn-large white-text darken-text-2'%>
    </div>
 </div>
 
 <footer class="center">
     <p class="copy">Copyright &copy; Mladen, 2017.</p>
 </footer>
